<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Restaurant catalogue for your reference" />
    <meta name="theme-color" content="#18a558"/>
    <link rel="manifest" href="manifest.json" />
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <link rel="icon" href="resto_icon.png" />
    <title>Resto Apps</title>
  </head>

  <body>
    <a href="#main-content" class="to-content-link">Skip to Content</a>

    <!--========== HEADER ==========-->
    <header class="l-header" id="header">
      <!-- <nav class="nav bd-container"> -->
      <div class="nav__toggle">
        <button id="nav-toggle" aria-label="navigation-menu">☰</button>
      </div>

      <div class="nav__logo">
        <a href="">Resto Apps</a>
      </div>

      <nav class="nav__menu" id="nav-menu">
        <ul>
          <li class="nav__item">
            <a href="" class="nav__link">Home</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Favorite</a>
          </li>
          <li class="nav__item">
            <a
              href="https://github.com/GhoZaa"
              target="_blank"
              class="nav__link"
              >About us</a
            >
          </li>
        </ul>
      </nav>
      <!-- </nav> -->
    </header>

    <main>
      <!--========== JUMBOTRON ==========-->
      <section class="hero" style="background-image: url('images/hero-image_3.jpg')">
        <div class="hero__data">
          <h1 class="hero__title">Resto Apps</h1>
          <h2 class="hero__subtitle">Find your vibes resto</h2>
        </div>
      </section>

      <!--========== RESTAURANT LIST =========-->
      <section id="main-content" class="restaurant"></section>
    </main>

    <!--========== FOOTER ==========-->
    <footer>
      <p>Copyright &copy; 2021 - Resto Apps</p>
    </footer>
  </body>
</html>
