<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Resto Apps</title>
    </head>

    <body>
        <a href="#main-content" class="to-content-link">Skip to Content</a>

        <!--========== HEADER ==========-->
        <header class="l-header" id="header">
            <nav class="nav bd-container">
                <a href="" class="nav__logo">Resto Apps</a>

                <div class="nav__toggle" id="nav-toggle">
                    <button aria-label="navigation-menu">☰</button>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="" class="nav__link">Home</a></li>
                        <li class="nav__item"><a href="#" class="nav__link">Favorite</a></li>
                        <li class="nav__item"><a href="https://github.com/GhoZaa" class="nav__link">About us</a></li>
                    </ul>
                </div>         
            </nav>
        </header>

        <main >
            <!--========== JUMBOTRON ==========-->
            <section class="hero" style="background-image: url('images/heros/hero-image_3.jpg');">
                <div class="hero__data">
                    <h1 class="hero__title">Resto Apps</h1>
                    <h2 class="hero__subtitle">Find your vibes resto</h2>
                </div>
            </section>
            
            <!--========== RESTAURANT LIST =========-->
            <section id="main-content" class="restaurant">
                <div class="restaurant__data">
                    <h1>Find Restaurant</h1>
                    <div class="list" id="list-item"></div>
                </div>
            </section>
        </main>

        <!--========== FOOTER ==========-->
        <footer>
            <p>Copyright &copy; 2021 - Resto Apps</p>
        </footer>

    </body>
</html>