@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  font-size: 15px;
  color: #242121;
  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
  margin: 0 auto;
}

ul {
  padding: 0;
  list-style: none;
}

.to-content-link {
  position: absolute;
  left: 0;
  z-index: 100;
  background-color: #810000;
  padding: 10px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
}

.to-content-link:focus {
  top: 80px;
}

.l-header {
  background-color: #59981a;
  padding: 8px 16px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.l-header .nav__toggle {
  display: flex;
  align-items: center;
}

.l-header .nav__toggle button {
  background-color: transparent;
  color: #fff;
  min-width: 44px;
  min-height: 44px;
  border: none;
  font-size: 22px;
  padding: 8px;
  cursor: pointer;
}

.l-header .nav__logo {
  display: flex;
  align-items: center;
  min-height: 44px;
}

.l-header .nav__logo a {
  color: #fff;
  text-decoration: none;
  font-size: 22px;
  user-select: none;
  min-height: inherit;
  padding: 0.5rem 0;
}

.l-header .nav__menu {
  position: absolute;
  align-items: center;
  top: 50px;
  left: -180px;
  width: 150px;
  transition: 0.3s;
  padding: 8px;
  background-color: #59981a;
  overflow: hidden;
}

.l-header .nav__menu ul li a {
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  padding: 8px;
  min-height: 44px;
  width: 100%;
}

.l-header .nav__menu.show-menu {
  left: 0;
}

.nav__link,
.nav__logo,
.nav__toggle {
  color: #cc2626;
  font-weight: 500;
}

.nav__logo:hover,
.nav__link:hover {
  color: #000c66;
  font-weight: 700;
}

.nav__link {
  transition: 0.3s;
}

.nav__toggle {
  cursor: pointer;
}

.hero {
  display: flex;
  align-items: center;
  min-height: 480px;
  width: 100%;
  text-align: center;
  background-position: center;
  background-size: cover;
}

.hero__data {
  margin: 0 auto;
  max-width: 800px;
}

.hero__title {
  color: #fff;
  font-weight: 600;
  font-size: 36px;
}

.hero__subtitle {
  color: #fff;
  margin-top: 16px;
  font-size: 18px;
  font-weight: 600;
}

.restaurant {
  padding: 32px;
  margin: auto;
}

.restaurant__data {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
}

.list {
  margin-top: 52px;
  text-align: left;
  display: grid;
  grid-row-gap: 18px;
}

.list__item {
  position: relative;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
}

.item__content {
  padding: 18px;
}

.item__content h1 {
  padding: 0;
  margin: 8px 0;
}

.item__img {
  width: 100%;
  max-height: 200px;
}

.item__title a {
  padding: 8px 0;
  color: inherit;
  font-size: 1.4em;
  font-weight: 700;
  text-decoration: none;
  transition: 0.3s opacity;
}

.item__title:hover {
  color: grey;
}

.item__txt {
  margin: 4px 0;
  color: rgb(34, 31, 31);
  font-size: 14px;
}

.item__city {
  padding: auto;
  color: rgb(39, 38, 38);
  font-weight: 700;
}

.item__rating {
  color: rgb(0, 89, 255);
  font-weight: 700;
  text-decoration: none;
}

.item__description {
  font-size: 1em;
  line-height: 1.5em;
}

.more {
  position: inherit;
  width: fit-content;
  margin-top: 18px;
  padding: 12px;
  background-color: #18a558;
  border-radius: 7px;
  font-weight: 500;
}

.more:hover {
  background-color: #21b6a8;
}

.more a {
  padding: 1em;
  color: #ffffff;
  font-size: 13px;
  text-decoration: none;
}

.more a:hover {
  font-weight: 700;
}

.detail {
  display: grid;
  gap: 1em;
  font-size: 16px;
  justify-items: center;
}

.detail h2 {
  margin-top: 1.2em;
  text-align: center;
  font-size: 1.4em;
}

.detail h3 {
  margin-top: 16px;
  font-size: 1.1em;
}

.images-detail {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  filter: drop-shadow(0 2px 3px black);
}

.detail-info {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 0.8rem;
  border: 1px solid #9dc50d;
  border-radius: 1rem;
}

.detail-info .description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.category {
  padding: 0 1rem;
  background-color: #52db1c;
  color: #ffffff;
  margin-right: 1.5em;
  border-radius: 0.6em;
}

.detail-drink,
.detail-food {
  max-width: 100%;
  padding: 0.8rem;
}

.detail-food li,
.detail-drink li {
  list-style: disc;
}

.detail-food,
.detail-drink {
  border-top: 1px solid #e0e0e0;
}

.detail-review {
  display: grid;
  gap: 1.4rem;
  margin: auto;
  max-width: 80%;
}

.detail-review h3 {
  text-align: center;
}

.detail-review-item {
  border: 1px solid #9dc50d;
  border-radius: 1rem;
  box-shadow: 0 1px 3px #595e6b;
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1em;
  border-bottom: 1px solid #9dc50d;
}

.review-header p {
  font-size: 1em;
  display: flex;
  align-items: center;
}

.review-header p img {
  margin-right: 8px;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.review-body {
  padding: 1.5em;
  white-space: wrap;
  overflow: hidden;
}

.like {
  font-size: 18px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: #db0000;
  color: white;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  background-color: #59981a;
  width: 100%;
  padding: 1em;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
}
